.first_section{
  color: white;
  background-image: url("/assets/images/firstSectionBg.png");
  background-position: center;
  background-size: cover;
  position: relative;

}

.second_section{
  background-image: url("/assets/images/secondSectionBg.png");
  background-size: cover;
  position: relative;

  .multi_circle_deco{
    position: absolute;
    top: -120px;
    left: -100px;
  }

  .bg_service{
    background-image: url("/assets/images/bgServices.png");
    background-position: center;
    background-size: cover;
  }
}
.animate_arrow{
  animation: animateDown infinite 1.5s;
}
@keyframes animateDown {
  0% , 20% , 50% , 80% , 100% {
    transform: translateY(0);
  }

  40%{
    transform: translateY(15px);
  }

  60%{
    transform: translateY(8px);
  }
}

.slide_arrow_content{
  position: absolute;
  top: 0;
  bottom: 0;
}
