<div class="row w-100" style="width: 100% ">
  <div class="col-6 left-size" style=" height: 100vh ">
    <div class="d-flex flex-column w-100">
      <h1 class="ms-5 mt-5 fs-1 fw-bold text-white">OpenCv</h1>
      <div class=" d-flex justify-content-center  " style="margin-top: 15%">
        <h1 class="text-white fs-2 fw-normal ">"Faire un cv est un besoin , <br> &nbsp; Etre recrute est un art </h1>
      </div>
      <div class="w-100 mt-5 left-size-img" >
        <img src="assets/images/signIn.png" class="w-100" alt="">
      </div>
    </div>
  </div>
  <div class="col-6 d-flex justify-content-center align-items-center right-size " style="height: 100vh ">
    <div class="m-auto w-75 bg-white shadow-lg rounded-2  d-flex flex-column justify-content-start align-items-center py-3"  >
      <div class="text-center w-100">
        <h1 class="fw-bold mt-4">Connexion</h1>
      </div>
      <div class="w-75">
        <p>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="example@gmail.com">
          </mat-form-field>
        </p>

        <p>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="************">
          </mat-form-field>
        </p>
        <button class="w-100 fs-6" style="height: 50px" mat-flat-button color="primary">Soummettre</button>
        <div class="mt-4">
          <p>Pas de compte ? <span routerLink="/sign-up" class="fw-bold" style="color: var(--primary-color) ">S'inscrire</span></p>
          <p><span class="fw-bold" style="color: var(--primary-color) ">Mot de passe oublier ?</span></p>
        </div>

        <div class="d-flex align-items-center">
          <span class="divider"></span>
          <span class="or"> Ou</span>
          <span class="divider"></span>
        </div>

        <button class="w-100 fs-6 d-flex align-items-center justify-content-center mt-3"
                style="height: 50px" mat-raised-button >
          <img class="mx-2" src="assets/images/googleLogo.svg" height="20" alt="">
          <span>Se connecter via google</span>
        </button>
        <button class="w-100 fs-6 d-flex align-items-center justify-content-center mt-4"
                style="height: 50px" mat-raised-button >
          <img class="mx-2" src="assets/images/linkedinLogo.svg" height="20" alt="">
          <span>Se connecter via Linkedin</span>
        </button>

      </div>
    </div>
  </div>
</div>
