<div class="row w-100" style="width: 100% ">
  <div class="col-6 left-size" style=" height: 100vh ">
    <div class="d-flex flex-column w-100">
      <h1 routerLink="/" class="ms-5 mt-5 fs-3 fw-bold text-white pointer">OpenCv</h1>
      <div class=" d-flex justify-content-center  " style="margin-top: 15%">
        <h1 class="text-white fs-2 fw-normal ">"Faire un cv est un besoin , <br> &nbsp; Etre recrute est un art </h1>
      </div>

      <div class="w-100 mt-5 left-size-img d-flex justify-content-center align-items-center" >
        <img src="../../../assets/images/signUp.png" style=" height: 400px ; width: 80%" class="" alt="">
      </div>
    </div>
  </div>
  <div class="col-6 d-flex justify-content-center align-items-center right-size " style="height: 100vh ">
    <div class="m-auto w-75 bg-white shadow-lg rounded-2  d-flex flex-column justify-content-start align-items-center py-5"  >
      <div class="text-center w-100">
        <h1 class="fw-bold">Connexion</h1>
      </div>
      <form [formGroup]="signInForm" class="w-75">
        <p>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="example@gmail.com" formControlName="username">
          </mat-form-field>
        </p>

        <p>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="************" formControlName="password">
          </mat-form-field>
        </p>
        <button class="w-100 fs-6"
                style="height: 50px; background-color: var(--primary-color) ; color: white"
                mat-flat-button color="" [disabled]="signInForm.invalid"
        (click)="onSubmit()">Soummettre</button>

        <div class="mt-4">
          <p>Pas de compte ? <button mat-button routerLink="/sign-up" class="fw-bold pointer" style="color: var(--primary-color) " >S'inscrire</button> </p>
          <p><button mat-button class="fw-bold pointer" style="color: var(--primary-color)" >Mot de passe oublier ?</button>  </p>
        </div>

        <div class="d-flex align-items-center">
          <span class="divider"></span>
          <span class="or"> Ou</span>
          <span class="divider"></span>
        </div>

        <button class="w-100 fs-6 d-flex align-items-center justify-content-center mt-3"
                style="height: 50px" mat-raised-button >
          <img class="mx-2" src="../../../assets/images/googleLogo.svg" height="20" alt="">
          <span>Se connecter via google</span>
        </button>
        <button class="w-100 fs-6 d-flex align-items-center justify-content-center mt-4"
                style="height: 50px" mat-raised-button >
          <img class="mx-2" src="../../../assets/images/linkedinLogo.svg" height="20" alt="">
          <span>Se connecter via Linkedin</span>
        </button>

      </form>
    </div>
  </div>
</div>
