


.template {
  transition: all 300ms ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

.cover{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.3;
  background-color: #a5a5a5;
  display: none;
  z-index: 3;
}

.button_create{
  bottom: -60px;
  left: 60px;
  right: 60px;
  z-index: 5;
  transition: all 300ms ease-in-out;
}
