<nav routerLink="/" class="d-flex justify-content-between align-items-center px-5 py-4 pointer" style="z-index: 2">
  <h1 class="fs-3 fw-bold">OpenCv</h1>
  <div>
    <button routerLink="/" class="fs-6" mat-button>Accueil</button>
    <button class="fs-6" mat-button>Nos modeles</button>
    <button class="fs-6" mat-button>Nos realisation</button>
    <button class="fs-6" mat-button>A propos</button>
  </div>

  <div>
    <button class="fs-6" routerLink="/sign-in" mat-button>Se connecter</button>
    <button class="fw-bold fs-6" routerLink="/sign-up" mat-raised-button color="primary" style="background-color: white ; color: var(--primary-color); height: 45px">S'inscrire</button>
  </div>
</nav>
