.left-size{
  background-color: var(--primary-color)
}

.right-size{
  background-color: var(--lite-gray);
}

.or{
  padding: 0 50px ;
}

.divider{
  height: 1px;
  flex: 1;
  background-color: #cccccc;
}
.mat-form-field-appearance-outline .mat-form-field-wrapper{
  margin: 0;
}
.mat-form-field-wrapper {
  padding: 0;
}
.pointer{
  cursor: pointer;
}

