<!-- FIRST SECTION -->
<div class="first_section">
  <div class="decoration"></div>
  <app-nav-bar></app-nav-bar>
  <div class="d-flex align-items-center justify-content-center">
    <div class="row container">
      <div class="col-12 col-sm-12 col-md-6 d-flex justify-content-start align-items-center" style="z-index: 2">
        <div class="w-75" style="">
          <h1 class="fs-2 fw-bolder" style="line-height: 1.2">Creez votre model de cv <br>
            professionnel en ligne avec <br>
            OpenCv et heberge le
          </h1>

          <p class="mt-4">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dolore
            ipsum itaque maxime nobis sunt vel, voluptatibus. Consectetur distinctio esse facilis fugiat
            hic mollitia nihil odit, perferendis repellendus repudiandae veritatis.
          </p>

          <div class=" mt-4 d-flex justify-content-start align-items-center">
            <button class="fs-6 fw-bold mx-1 px-4" mat-raised-button
                    routerLink="/cv-editor"
                    style="background-color: var(--primary-color) ; color: white ; height: 65px">
              Creer mon Cv
            </button>
            <div class="mx-3">
              <button mat-fab color="" style="color: var(--primary-color)"
                      aria-label="Example icon button with a delete icon">
                <mat-icon>play_arrow</mat-icon>
              </button>
              <span class="fw-bold fs-6 ms-2">Demo</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 d-flex justify-content-end align-items-center">
        <img src="../../../assets/images/groupCv.png" class="" style="height: inherit" alt="">
      </div>
    </div>
  </div>

</div>

<!-- SECOND SECTION -->
<div class="second_section">
  <img src="../../../assets/images/multiCircleDeco.png" class="multi_circle_deco" alt="">
  <div class=" container pt-5 d-flex flex-column justify-content-center align-items-center ">

    <!--    Entete de nos services -->
    <div class="row d-flex justify-content-center align-items-center">
      <div class="text-center col-12 col-md-5 col-sm-12 ">
        <h1 class="fs-3 fw-bold">Nos services</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid autem
          consequuntur cum excepturi in iure iusto modi non placeat quidem, repellat
          similique sit tenetur ullam unde. Aliquam asperiores nesciunt repellat.</p>
      </div>
    </div>

    <div class=" row mt-3">
      <div class="col-12 col-sm-12 col-md-4 d-flex flex-column align-items-center text-center">
        <img src="../../../assets/images/build_icon.png" alt="">
        <h3 class="fs-4 fw-bold mt-3"> Creer un Cv</h3>
        <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          atque earum eius eum excepturi expedita facilis impedit nihil obcaecati
          perferendis qui quidem quos rem soluta tempora ullam vitae, voluptatibus voluptatum!</p>
      </div>
      <div class="col-4 col-sm-12 col-md-4 d-flex flex-column align-items-center text-center">
        <img src="../../../assets/images/server_icon.png" alt="">
        <h3 class="fs-4 fw-bold mt-3"> Generer son portfolio </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          atque earum eius eum excepturi expedita facilis impedit nihil obcaecati
          perferendis qui quidem quos rem soluta tempora ullam vitae, voluptatibus voluptatum!</p>
      </div>
      <div class="col-4 col-sm-12 col-md-4 d-flex flex-column align-items-center text-center">
        <img src="../../../assets/images/download_icon.png" alt="">
        <h3 class="fs-4 fw-bold mt-3"> Telecharger et partager </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          atque earum eius eum excepturi expedita facilis impedit nihil obcaecati
          perferendis qui quidem quos rem soluta tempora ullam vitae, voluptatibus voluptatum!</p>
      </div>
    </div>

    <div class="w-100 mt-5 d-flex justify-content-center align-items-center">
      <div class="w-75 rounded-top bg_service d-flex flex-column align-items-center text-center" style="color: white">
        <h2 class="mt-4 fw-bold fs-3"> Augmenter vos chances <br> d'etre recruter </h2>
        <div class="row mx-3">
          <div class="col-12 col-sm-12 col-md-4">
            <h2 class="fw-bold " style=" text-decoration: underline">2K </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum itaque modi
              nostrum placeat veritatis!</p>
          </div>
          <div class="col-12 col-sm-12 col-md-4">
            <h2 class="fw-bold " style=" text-decoration: underline ">95% </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum itaque modi
              nostrum placeat veritatis!</p>
          </div>
          <div class="col-12 col-sm-12 col-md-4">
            <h2 class="fw-bold " style=" text-decoration: underline">77% </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum itaque modi
              nostrum placeat veritatis!</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- THIRD SECTION -->
<div>

</div>
