<div class="w-100">
  <app-step-count [countState]="2"></app-step-count>
  <div>
    <div class="row mt-3">
      <div class="col-12 col-sm-6 col-md-6">
        <label for="name" class="form-label">Quel est votre nom ?<span class="text-danger"> *</span></label>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Nom</mat-label>
          <input matInput placeholder="" id="name">
        </mat-form-field>
      </div>
      <div class="col-12 col-sm-6 col-md-6 ">
        <label for="lastname" class="form-label">Quel est votre prenom ?<span class="text-danger"> *</span></label>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Prenom</mat-label>
          <input matInput placeholder="" id="lastname">
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-6 col-md-6">
        <label for="birthday" class="form-label">Quel est votre date de naissance ? <span class="text-danger"> *</span></label>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Date de naissance</mat-label>
          <input matInput placeholder="" id="birthday">
        </mat-form-field>
      </div>
      <div class="col-12 col-sm-6 col-md-6 ">
        <label for="statut_matrimonial" class="form-label">Quel est votre statut matrimonial ?</label>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Statut matrimonial</mat-label>
          <input matInput placeholder="" id="statut_matrimonial">
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-4 col-md-4">
        <label for="pays" class="form-label">Quel est votre pays ? <span class="text-danger"> *</span></label>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Pays</mat-label>
          <input matInput placeholder="" id="pays">
        </mat-form-field>
      </div>
      <div class="col-12 col-sm-4 col-md-4 ">
        <label for="ville" class="form-label">Quel est votre ville ?</label>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Ville</mat-label>
          <input matInput placeholder="" id="ville">
        </mat-form-field>
      </div>
      <div class="col-12 col-sm-4 col-md-4 ">
        <label for="adresse" class="form-label">Quel est votre adresse ?</label>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Adresse</mat-label>
          <input matInput placeholder="" id="adresse">
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <label for="description" class="form-label">Decrivez vous en une phrase ? <span class="text-danger"> *</span></label>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Description</mat-label>
          <input matInput placeholder="" id="description">
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <label for="birthday" class="form-label">Vous parlez quelles langues ? <span class="text-danger"> *</span></label>
        <div class="mt-2">
          <button mat-flat-button class="me-2" style="background-color: var(--primary-color); color: white">Francais</button>
          <button mat-flat-button class="mx-2" style="background-color: var(--primary-color); color: white">Anglais</button>
          <button mat-stroked-button class="mx-2" style=" color: var(--primary-color)">Anglais</button>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-12">
        <label for="birthday" class="form-label">Quels sont vos atouts ? </label>
        <div class="mt-2">
          <button mat-flat-button class="me-2" style="background-color: var(--primary-color); color: white">Francais <mat-icon class="ms-2" style="color: white">indeterminate_check_box</mat-icon></button>
          <button mat-flat-button class="mx-2" style="background-color: var(--primary-color); color: white">Anglais <mat-icon class="ms-2" style="color: white">indeterminate_check_box</mat-icon></button>
          <button mat-stroked-button class="mx-2" style=" color: var(--primary-color)">Ajouter</button>
        </div>
      </div>
    </div>

  </div>
</div>
