.container1{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  background-color: lightgray;

  .left{
    width: 515px;
    height: 780px;
    background-color: aqua;
  }

  .right{
    width: 936px;
    height: 740px;
    margin: 20px 20px 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px #cdcaca;
    background-color: white;
    padding: 10px 10px 10px 50px;


    .groupButton{
      display: flex;
     flex-direction: row;

     .bouton{
       width: 200px;
       height: 54px;
       background-color: white;
       border-radius: 5px;
       font-size: 20px;
      box-shadow: 5px 5px #cdcaca;

     }
     .bouton1{
       width: 200px;
       height: 54px;
       font-size: 20px;
       background-color: white;
       border-radius: 5px;
       margin:0px 0px 0px 10px;
      box-shadow: 5px 5px #cdcaca;

     }
    }

     .bouton2{
      width: 200px;
       height: 54px;
       background-color: #66A4B0;
       border-radius: 5px;
       font-weight: bold;
       font-size: 24px;
       border: none;
       color: white;
      margin: 20px 20px 20px 700px;
       box-shadow: 5px 5px #cdcaca;

    }

    .elt1{
      display: flex;
      flex-direction: row;
      .main{
      width: 35.09px;
      height:37.5px ;
      margin-top: 10px;
    }


    .title{
      font-weight: bold;
      font-size: 40px;
      color: black;
      margin-top: 5px;
      margin-left: 10px;
    }
    }

    .texte{
      color:#767676;
     font-style: normal;
     font-size: 20px;
     margin-top: 1px;
    }
    h6{
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    }
  }


}

