<div class="container1">
  <div class="left"></div>
  <div class="right">
    <div class="elt1">
      <img class="main" src="assets/main.png"  alt="">
      <p class="title">Bienvenue sur OpenCv</p>
    </div>
    <div class="texte">
      Avoir une description de personne nous permmettra de mettre a votre disposition
      <br> le type de cv correspondant a votre profil.</div>
    <div><h6>Votre genre</h6></div>
    <div class="groupButton">
     <button class="bouton"><img class="main" src="assets/homme.png"  alt="">Homme</button>
      <button class="bouton1"><img class="main" src="assets/femme.png"  alt="">Femme</button>
    </div>
    <div>
      <button class="bouton2">Continuer</button>
    </div>
  </div>
</div>
