<div class="row w-100" style="width: 100% ">
  <div class="col-6 left-size" style=" height: 100vh ">
    <div class=" w-100">
      <h1 routerLink="/" class="ms-5 mt-5 fs-3 fw-bold text-white pointer" >OpenCv</h1>
      <div class="w-100 d-flex flex-column align-items-center">
        <div class=" d-flex justify-content-center  w-75 " style="margin-top: 5%">
          <h1 class="text-white  fw-normal ">" Bienvenu sur OpenCv, Nous vous orientons dans la creation de votre cv
            professionnel selon les differents domaines dans lesquelles vous exerces "</h1>
        </div>
        <div class="w-100 mt-5 left-size-img">
          <img src="../../../assets/images/signIn.png" class="w-100" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 d-flex justify-content-center align-items-center right-size " style="height: 100vh ">
    <div
      class="m-auto w-75 bg-white shadow-lg rounded-2  d-flex flex-column justify-content-start align-items-center py-5">
      <div class="text-center w-100">
        <h1 class="fw-bold ">Inscription</h1>
      </div>
      <form [formGroup]="signUpForm" class="w-75">
        <p>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Nom d'utilisateur</mat-label>
            <input matInput  placeholder="jeanBretaud" formControlName="username">
          </mat-form-field>
        </p>

        <p>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="example@gmail.com" formControlName="email">
          </mat-form-field>
        </p>

        <p>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Mot de passe</mat-label>
            <input matInput type="text" placeholder="**********" formControlName="password">
          </mat-form-field>
        </p>

        <p>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Confirmer mot de passe</mat-label>
            <input matInput type="text" placeholder="*********" formControlName="confirmPassword">
          </mat-form-field>
        </p>
        <button class="w-100 fs-6" style="height: 50px; background-color: var(--primary-color) ; color: white"
                mat-flat-button color="" (click)="onSubmit()" [disabled]="signUpForm.invalid">Soummettre</button>
        <div class="mt-4">
          <p>Deja un compte ? <button mat-button routerLink="/sign-in" class="fw-bold pointer" style="color: var(--primary-color) " >Se connecter</button>
          </p>
        </div>

        <div class="d-flex align-items-center">
          <span class="divider"></span>
          <span class="or"> Ou</span>
          <span class="divider"></span>
        </div>

        <div class="row w-100 mt-4 ms-1">
          <div class=" col-6 ">
            <button class=" w-100 fs-6 d-flex align-items-center justify-content-center "
                    style="height: 50px" mat-raised-button>
              <img class="mx-2" src="../../../assets/images/googleLogo.svg" height="20" alt="">
              <span>Via google</span>
            </button>
          </div>
          <div class="col-6">
            <button class="w-100 fs-6 d-flex align-items-center justify-content-center "
                    style="height: 50px" mat-raised-button>
              <img class="mx-2" src="../../../assets/images/linkedinLogo.svg" height="20" alt="">
              <span>Via Linkedin</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


