<app-nav-bar></app-nav-bar>
<div class="container-fluid py-5 content" >
  <div class="container shadow-sm bg-white " style="">
    <div class="sub-container px-5 d-flex align-items-center flex-column">
      <div class="text-center mt-5">
        <div class="d-flex justify-content-center align-items-end mb-4">
          <h1 class="fs-1 fw-bold text-black  " >Completer votre profil utilisateur &nbsp; </h1>
          <img src="assets/images/fire_icon.svg"  alt="">
        </div>
        <p class="px-5"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam asperiores debitis dicta dignissimos
            earum excepturi minus, officiis praesentium quibusdam, veniam veritatis voluptatibus! Eum fugit ipsam provident quibusdam,
            quisquam tempore voluptas!</span><span>Accusamus aperiam architecto asperiores aut corporis dicta, dolorum et expedita facilis,
            fugit hic illum laboriosam minima necessitatibus quidem ratione recusandae repudiandae sapiente suscipit vel. Asperiores
            blanditiis harum itaque iusto non.</span></p>
      </div>
      <div class="w-100 d-flex justify-content-center align-items-center mt-3">
        <img src="assets/images/green_check.png" height="60" alt="">
      </div>
      <div class="w-100 d-flex justify-content-center align-items-center mt-3 ">
        <button routerLink="/user-profile/welcome" mat-stroked-button color="primary" class="fs-6 fw-bold"
                style="border: 2px solid #66A4B0; color: #66A4B0; height: 50px">
          Commencer
        </button>
      </div>
      <div class="w-100 mt-5 d-flex justify-content-center align-items-center profile_shape ">
        <!--          <img src="assets/images/profile_shape_bg.png" class="w-100 profile_shape_bg" alt="">-->
        <div class="w-100 h-100 row ">
          <div class=" col-4 col-sm-12 col-md-4 h-100 d-flex justify-content-center align-items-center ps-5 " >
            <div class="profile_shape_left_bg h-50 w-100 d-flex align-items-center text-white  flex-column p-3 text-center">
              <img src="assets/images/document_icon.png" alt="">
              <p class="fs-4 mt-3">Commencer directement avec un modele</p>
              <button mat-flat-button class="fs-6 fw-bold mt-3"
                      style="height: 50px; background-color: var(--primary-color); color: white">Modele de cv</button>
            </div>
          </div>
          <div class="  col-4 col-sm-12 col-md-4 h-100 d-flex justify-content-center align-items-end pb-5" >
            <img src="assets/images/banner.png" class="w-75" alt="">
          </div>
          <div class="  col-4 col-sm-12 col-md-4 h-100  d-flex justify-content-center align-items-center pe-5 " >
            <div class="profile_shape_right_bg h-50 w-100 d-flex flex-column text-white align-items-center text-center p-3">
              <img src="assets/images/search_icon.png" alt="">
              <button mat-stroked-button class="fs-6 fw-bold mt-3"
                      style="height: 50px; color: var(--primary-color);
                         background-color: white;border: 2px solid
                         var(--primary-color)">En savoir plus</button>
              <p class="fs-4 mt-3 ">Comment abtenir un cv correspondant a mon offre</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
