<div class=" w-100 h-100 d-flex justify-content-center">
  <div class="shadow-sm " style="flex: .9">
    <app-dashboard-sidebar></app-dashboard-sidebar>
  </div>
  <div class="py-5 px-4 container overflow-scroll" style="background-color: #F9F9F9; flex: 3.5">
    <router-outlet></router-outlet>
  </div>
  <div class="shadow-sm" style="flex: 1">
    <div class="w-100 px-3 py-4 h-100">
      <div class="w-100 p-3 bg-opacity-25 bg-info rounded-3" style="color: #016471">
        <h2 class="fs-6 fw-bold"> Comment remplir un CV ?</h2>
        <p class="text-black-50">Remplir un CV n'est pas evident, retrouvez quelques conseils sur notre blog</p>
        <div class="d-flex justify-content-end">
          <p class="fw-bolder mb-0">En savoir plus</p>
        </div>
      </div>

      <div class="w-100 p-3 bg-opacity-10 bg-success rounded-3 mt-4" style="color: #016471">
        <h2 class="fs-6 fw-bold"> Comment remplir un CV ?</h2>
        <p class="text-black-50">Remplir un CV n'est pas evident, retrouvez quelques conseils sur notre blog</p>
        <div class="d-flex justify-content-end">
          <p class="fw-bolder mb-0">En savoir plus</p>
        </div>
      </div>
    </div>
  </div>
</div>
